
<div class="see">
    <div class="help">
        Contact Flame
      </div>
</div>

<div class="contact">
    <section>
        <div class="team">Team</div>
        <div class="names">
            <div>Monu Meena</div>
            <p>

            </p>
            <div>Advait Parmar</div>
        </div>
    </section>
    <section>
            <div class="rollno">Roll number</div>
            <div class="rolls">
              <div>190050068</div>
              <p>
     
              </p>
              <div>190050008</div>
            </div>
        </section>
    
        <section>
            <div class="email">Email</div>
            <div class="ema">
              <div>monumeena@cse.iitb.ac.in</div>
              <p>
     
              </p>
              <div>190050008@iitb.ac.in</div>
            </div>

        </section>
    
 </div>
