
.see{

    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('https://ipt.imgix.net/200609/x/0/5-good-reasons-to-add-people-into-your-landscape-photography-1.jpg?auto=compress%2Cformat&ch=Width%2CDPR&dpr=1&ixlib=php-3.3.0&w=883');
    background-position:200% 200%;
  }
  .help{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color:white;

    font-family: Times, Serif;
  }


.team{
    font-family: Georgia, serif;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 200px;
}
.names{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 200px;
}  

section {
    float: left;
    margin: 0 1.5%;
    width: 30%;
  }
  
.rollno{
    font-family: Georgia, serif;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 150px;
}

.rolls{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 150px;
}  

.email{
    font-family: Georgia, serif;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 200px;
}

.ema{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 200px;
} 